<!DOCTYPE html>
<html>
    <head><title>Poem Maker Pro</title></head>
    <body>
        <h1>Enter terms below.</h1>
        <form method="post" action="/poem">
        <p>year<br><input type="text" name="year"></p>
        <p>month<br><input type="text" name="month"></p>
        <p>day<br><input type="text" name="day"></p>
        <p>hour<br><input type="text" name="hour"></p>
        <p>minute<br><input type="text" name="minute"></p>
        <p>station_a<br><input type="text" name="station_a"></p>
        <p>station_b<br><input type="text" name="station_b"></p>
        <input type="submit">
        </form>
    </body>
</html>
